server:
  port: 8080

debug: true

spring:
  application:
    name: vibeapp
  datasource:
    url: jdbc:h2:file:./data/testdb;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    redis:
      host: localhost
      port: 6379
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.boot.autoconfigure: DEBUG
    org.springframework.beans: DEBUG
    org.hibernate.SQL: DEBUG
    com.example.vibeapp.post: DEBUG
  file:
    name: ./logs/app.log
jwt:
  secret: vibeapp-secret-key-for-jwt-authentication-vibeapp-secret-key-for-jwt-authentication
  expiration-ms: 900000 # 15 minutes
  refresh-expiration-ms: 604800000 # 7 days

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
